{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block body %}
<div class="container py-5">
    <h1 class="mb-4">О магазине Fishing Shop</h1>
    <p class="lead">Мы поставляем лучшие рыболовные снасти с 2026 года.</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <h3>Качество</h3>
            <p>Только проверенные бренды и материалы.</p>
        </div>
        <div class="col-md-4">
            <h3>Доставка</h3>
            <p>Быстрая доставка по всей стране завтра.</p>
        </div>
        <div class="col-md-4">
            <h3>Поддержка</h3>
            <p>Круглосуточная помощь для рыбаков.</p>
        </div>
    </div>
</div>
{% endblock %}