{% extends "base.html" %}
{% block title %}Доставка{% endblock %}
{% block body %}
<div class="container py-5 bg-white shadow-sm rounded">
    <h1 class="fw-bold">🚚 Доставка и оплата</h1>
    <hr>
    <div class="row mt-4">
        <div class="col-md-4">
            <h4>🚀 Курьером</h4>
            <p>Привезем завтра в удобное время. Бесплатно от 5000 ₽.</p>
        </div>
        <div class="col-md-4">
            <h4>📦 СДЭК / Почта</h4>
            <p>Отправка в день заказа. Более 1000 пунктов выдачи.</p>
        </div>
        <div class="col-md-4">
            <h4>🏠 Самовывоз</h4>
            <p>Заберите сегодня из нашего магазина бесплатно.</p>
        </div>
    </div>
</div>
{% endblock %}